.Commodities {
    display: flex;
    flex-wrap: wrap;
}

.Commodities h2 {
    width: 100%;
}

.Commodity {
    flex: 0 0 25%;
    padding: 10px;
    box-sizing: border-box;
}

.Commodity button {
    width: 100%;
}